/* line 3, ../sass/partials/_resets.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/partials/_resets.sass */
figure,
p {
  margin: 0;
}

/* line 2, ../sass/partials/_helpers.sass */
.j-blog-meta:after, #cc-checkout-gutter:after {
  clear: both;
  content: "";
  display: table;
}

/* line 18, ../sass/partials/_font-settings.sass */
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 23, ../sass/partials/_font-settings.sass */
body,
button,
input,
select,
textarea {
  font-size: 16px;
  line-height: 1.5;
}

/* line 82, ../sass/partials/_font-settings.sass */
.cc-checkout-subheadings a, .cc-checkout-hint {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
}

/* line 84, ../sass/partials/_font-settings.sass */
.j-product .cc-shop-addtocard, #cc-sidecart .cc-sidecart-checkout, .skiptoform a:link,
.skiptoform a:visited, .blogreadmore:link, .blogreadmore:visited,
.comment:link,
.comment:visited, .j-comment input[type="submit"], .j-downloadDocument .cc-m-download-link, .j-formnew input[type="submit"], .j-newsletterbox input[type="submit"], .cc-pagemode-overlay input[type="submit"].submitUser, .j-rss br + a[target="_blank"], #cc-checkout-gutter .cc-checkout-btn, .j-comment textarea,
.j-comment input[type="text"], .j-formnew .cc-m-form-view-sortable input[type="text"],
.j-formnew .cc-m-form-view-sortable input[type="email"],
.j-formnew .cc-m-form-view-sortable textarea, .j-newsletterbox input[type="email"], .cc-pagemode-overlay #password, #cc-checkout-gutter input[type="text"],
#cc-checkout-gutter input[type="email"],
#cc-checkout-gutter textarea, #cc-sidecart .cc-sidecart-header strong {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 86, ../sass/partials/_font-settings.sass */
h3, .j-rss .rssFeedTitle, .j-product .cc-shop-product-price-old, .cc-checkout-subheadings {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
}

/* line 88, ../sass/partials/_font-settings.sass */
h2, .j-product .cc-shop-product-price-current {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.25;
}

/* line 90, ../sass/partials/_font-settings.sass */
h1 {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.05;
}

/* line 8, ../sass/_base.sass */
h1, h2, h3, .j-rss .rssFeedTitle, h4 {
  font-family: inherit;
  margin: 0;
}

/* line 21, ../sass/_base.sass */
a:link img,
a:visited img {
  border: 0;
}

/* line 38, ../sass/_base.sass */
.layout-alignment {
  margin: 0 auto;
}

/* line 3, ../sass/partials/_buttons.sass */
.j-product .cc-shop-addtocard, #cc-sidecart .cc-sidecart-checkout, .skiptoform a:link,
.skiptoform a:visited, .blogreadmore:link, .blogreadmore:visited,
.comment:link,
.comment:visited, .j-comment input[type="submit"], .j-downloadDocument .cc-m-download-link, .j-formnew input[type="submit"], .j-newsletterbox input[type="submit"], .cc-pagemode-overlay input[type="submit"].submitUser, .j-rss br + a[target="_blank"], #cc-checkout-gutter .cc-checkout-btn {
  background-color: transparent;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin: 1em 0;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  -moz-transition: background-color 200ms ease-in;
  -webkit-transition: background-color 200ms ease-in;
  transition: background-color 200ms ease-in;
}
/* line 20, ../sass/partials/_buttons.sass */
.j-product .cc-shop-addtocard:hover, #cc-sidecart .cc-sidecart-checkout:hover, .skiptoform a:hover:link,
.skiptoform a:hover:visited, .blogreadmore:hover:link, .blogreadmore:hover:visited,
.comment:hover:link,
.comment:hover:visited, .j-comment input[type="submit"]:hover, .j-downloadDocument .cc-m-download-link:hover, .j-formnew input[type="submit"]:hover, .j-newsletterbox input[type="submit"]:hover, .cc-pagemode-overlay input[type="submit"].submitUser:hover, .j-rss br + a[target="_blank"]:hover, #cc-checkout-gutter .cc-checkout-btn:hover, .j-product .cc-shop-addtocard:active, #cc-sidecart .cc-sidecart-checkout:active, .skiptoform a:active:link,
.skiptoform a:active:visited, .blogreadmore:active:link, .blogreadmore:active:visited,
.comment:active:link,
.comment:active:visited, .j-comment input[type="submit"]:active, .j-downloadDocument .cc-m-download-link:active, .j-formnew input[type="submit"]:active, .j-newsletterbox input[type="submit"]:active, .cc-pagemode-overlay input[type="submit"].submitUser:active, .j-rss br + a[target="_blank"]:active, #cc-checkout-gutter .cc-checkout-btn:active, .j-product .cc-shop-addtocard:focus, #cc-sidecart .cc-sidecart-checkout:focus, .skiptoform a:focus:link,
.skiptoform a:focus:visited, .blogreadmore:focus:link, .blogreadmore:focus:visited,
.comment:focus:link,
.comment:focus:visited, .j-comment input[type="submit"]:focus, .j-downloadDocument .cc-m-download-link:focus, .j-formnew input[type="submit"]:focus, .j-newsletterbox input[type="submit"]:focus, .cc-pagemode-overlay input[type="submit"].submitUser:focus, .j-rss br + a[target="_blank"]:focus, #cc-checkout-gutter .cc-checkout-btn:focus {
  background-color: inherit;
  color: inherit;
  font-style: normal;
}

/* line 27, ../sass/partials/_buttons.sass */
.j-product .cc-shop-addtocard, #cc-sidecart .cc-sidecart-checkout {
  background-color: transparent;
}
/* line 31, ../sass/partials/_buttons.sass */
.j-product .cc-shop-addtocard:hover, #cc-sidecart .cc-sidecart-checkout:hover, .j-product .cc-shop-addtocard:active, #cc-sidecart .cc-sidecart-checkout:active, .j-product .cc-shop-addtocard:focus, #cc-sidecart .cc-sidecart-checkout:focus {
  background-color: transparent;
}

/* line 36, ../sass/partials/_buttons.sass */
.j-comment textarea,
.j-comment input[type="text"], .j-formnew .cc-m-form-view-sortable input[type="text"],
.j-formnew .cc-m-form-view-sortable input[type="email"],
.j-formnew .cc-m-form-view-sortable textarea, .j-newsletterbox input[type="email"], .cc-pagemode-overlay #password, #cc-checkout-gutter input[type="text"],
#cc-checkout-gutter input[type="email"],
#cc-checkout-gutter textarea {
  background-color: inherit;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 0;
  -moz-transition: border-color 200ms ease-in;
  -webkit-transition: border-color 200ms ease-in;
  transition: border-color 200ms ease-in;
}
/* line 45, ../sass/partials/_buttons.sass */
.j-comment textarea:hover,
.j-comment input[type="text"]:hover, .j-formnew .cc-m-form-view-sortable input[type="text"]:hover,
.j-formnew .cc-m-form-view-sortable input[type="email"]:hover,
.j-formnew .cc-m-form-view-sortable textarea:hover, .j-newsletterbox input[type="email"]:hover, .cc-pagemode-overlay #password:hover, #cc-checkout-gutter input[type="text"]:hover,
#cc-checkout-gutter input[type="email"]:hover,
#cc-checkout-gutter textarea:hover, .j-comment textarea:focus,
.j-comment input[type="text"]:focus, .j-formnew .cc-m-form-view-sortable input[type="text"]:focus,
.j-formnew .cc-m-form-view-sortable input[type="email"]:focus,
.j-formnew .cc-m-form-view-sortable textarea:focus, .j-newsletterbox input[type="email"]:focus, .cc-pagemode-overlay #password:focus, #cc-checkout-gutter input[type="text"]:focus,
#cc-checkout-gutter input[type="email"]:focus,
#cc-checkout-gutter textarea:focus, .j-comment textarea:active,
.j-comment input[type="text"]:active, .j-formnew .cc-m-form-view-sortable input[type="text"]:active,
.j-formnew .cc-m-form-view-sortable input[type="email"]:active,
.j-formnew .cc-m-form-view-sortable textarea:active, .j-newsletterbox input[type="email"]:active, .cc-pagemode-overlay #password:active, #cc-checkout-gutter input[type="text"]:active,
#cc-checkout-gutter input[type="email"]:active,
#cc-checkout-gutter textarea:active {
  border-color: inherit;
  outline: none;
}

/* line 3, ../sass/partials/_comments.sass */
.j-comment ul {
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/partials/_comments.sass */
.j-comment li {
  list-style-type: none;
}
/* line 9, ../sass/partials/_comments.sass */
.j-comment dd {
  margin: 0;
}

/* line 30, ../sass/partials/_comments.sass */
.commententry,
.com-meta {
  margin: 0 60px 0 90px;
}
/* line 34, ../sass/partials/_comments.sass */
.commententry dd,
.com-meta dd {
  margin: 0;
}

/* line 37, ../sass/partials/_comments.sass */
.com-avatar {
  float: left;
}
/* line 39, ../sass/partials/_comments.sass */
.com-avatar img {
  display: block;
}

/* line 42, ../sass/partials/_comments.sass */
.number {
  float: right;
}

/* line 6, ../sass/partials/_download.sass */
.j-downloadDocument .descriptionContainer {
  margin-left: 90px;
}

/* line 6, ../sass/partials/_hr.sass */
.j-hr hr {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: black;
}

/* line 1, ../sass/partials/_rss.sass */
.j-rss {
  line-height: 1.5;
}
/* line 10, ../sass/partials/_rss.sass */
.j-rss .rssFeedTitle {
  display: block;
  margin: 1em 0 0.5em;
}

/* line 6, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
/* line 11, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps li {
  display: block;
  float: left;
  text-align: center;
  width: 25%;
}
/* line 17, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps li:first-child span,
#cc-checkout-steps li:first-child a:link,
#cc-checkout-steps li:first-child a:visited {
  padding-left: 0;
}
/* line 21, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps li a:link,
#cc-checkout-steps li a:visited,
#cc-checkout-steps li span {
  display: block;
  opacity: 0.8;
}
/* line 26, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps li a:link span,
#cc-checkout-steps li a:visited span,
#cc-checkout-steps li span span {
  padding: 0;
}
/* line 29, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps .cc-checkout-steps-ready a:link,
#cc-checkout-steps .cc-checkout-steps-ready a:visited {
  opacity: 0.5;
}
/* line 33, ../sass/partials/_shop-checkout.sass */
#cc-checkout-steps .cc-checkout-steps-current a:link,
#cc-checkout-steps .cc-checkout-steps-current a:visited {
  cursor: default;
  opacity: 1;
}

/* line 42, ../sass/partials/_shop-checkout.sass */
#cc-checkout-gutter .cc-checkout-btn {
  float: right;
}
/* line 48, ../sass/partials/_shop-checkout.sass */
#cc-checkout-gutter input[type="text"],
#cc-checkout-gutter input[type="email"],
#cc-checkout-gutter textarea {
  width: 70%;
}
/* line 53, ../sass/partials/_shop-checkout.sass */
#cc-checkout-gutter label {
  display: block;
}
/* line 55, ../sass/partials/_shop-checkout.sass */
#cc-checkout-gutter textarea {
  min-height: 150px;
}
/* line 57, ../sass/partials/_shop-checkout.sass */
#cc-checkout-gutter fieldset {
  margin-bottom: 1em;
}

/* line 61, ../sass/partials/_shop-checkout.sass */
.cc-checkout-subheadings {
  margin: 1em 0 0.5em;
}

/* line 68, ../sass/partials/_shop-checkout.sass */
.cc-checkout-total {
  font-weight: bold;
}

/* line 72, ../sass/partials/_shop-checkout.sass */
.cc-checkout-number {
  text-align: right;
}

/* line 77, ../sass/partials/_shop-checkout.sass */
.cc-checkout-products {
  width: 100%;
}
/* line 81, ../sass/partials/_shop-checkout.sass */
.cc-checkout-products tbody tr:nth-child(odd) {
  background-color: rgba(50, 50, 50, 0.1);
}
/* line 83, ../sass/partials/_shop-checkout.sass */
.cc-checkout-products tbody td {
  padding: 5px;
}
/* line 85, ../sass/partials/_shop-checkout.sass */
.cc-checkout-products tbody td img {
  float: left;
  margin: 0 0.5em 0.5em 0;
}

/* line 94, ../sass/partials/_shop-checkout.sass */
.cc-checkout-shipping-address-checker {
  text-align: right;
}

/* line 98, ../sass/partials/_shop-checkout.sass */
.cc-checkout-paymentoption {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 106, ../sass/partials/_shop-checkout.sass */
.cc-checkout-different-adress fieldset {
  float: left;
  width: 48%;
}
/* line 109, ../sass/partials/_shop-checkout.sass */
.cc-checkout-different-adress fieldset:first-child {
  margin-right: 1em;
}

/* line 7, ../sass/partials/_sidecart.sass */
#cc-sidecart .cc-sidecart-header strong {
  text-align: center;
}
/* line 13, ../sass/partials/_sidecart.sass */
#cc-sidecart .cc-sidecart-checkout {
  display: block;
  width: 100%;
}
/* line 18, ../sass/partials/_sidecart.sass */
#cc-sidecart .cc-sidecart-calculation {
  padding: 10px 5px;
}

/*# sourceMappingURL=style.css.map */
