$standard-transition: 200ms ease-in

@import "compass"
@import "partials/resets"
@import "partials/helpers"
@import "partials/font-settings"

h1, h2, h3, h4
  font-family: inherit
  margin: 0

h1
  @extend %t-xlarge
h2
  @extend %t-large
h3
  @extend %t-medium

a:link,
a:visited
  img
    border: 0

a:hover,
a:active,
a:focus

// CSS class for the stylable content container
.content-options

// CSS class for the stylable sidebar container
.sidebar-options

// CSS class for the stylable footer container
.footer-options

// CSS class for layout alignment with align to center as default
.layout-alignment
  margin: 0 auto

// Import all partials
@import "partials/buttons"

@import "partials/navigation"

@import "partials/blog-post"
@import "partials/blog-selection"
@import "partials/blog-datesticker"
@import "partials/comments"

@import "partials/download"
@import "partials/form"
@import "partials/hr"
@import "partials/newsletter"
@import "partials/password-page"
@import "partials/rss"

@import "partials/product"
@import "partials/shop-checkout"
@import "partials/sidecart"

@import "partials/shopping-cart"
@import "partials/add-to-cart-response-overlay"