include mixins.jade 

doctype html
html
  head
    //- Include meta data 
    include meta.jade 
    
    //- Main CSS File 
    link(href=maincss, rel='stylesheet')
    
    //- Include Variation CSS Files
    include variations.jade 
    
  //- Of course, the HTML code needs to be adjusted to your needs.
  body
    block content
