// ####################
// Template Meta Data  
// ####################

name=                              "Boilerplate"
version=                           "0.1.0"
color=                             "#0099ee"
ownbackground=                     "yes"
disabled_styles=                   "m-comment m-product"



// ####################
// Variations 
// ####################

Reverse_Name=                      "Reverse"
Reverse_Link=                      "css/variation.min.css"
Reverse_Color=                     "#2f2f2f"  

Saturated_Name=                    "Saturated"
Saturated_Link=                    "css/variation.min.css"
Saturated_Color=                   "#2f2f2f"  

Light_Name=                        "Light"
Light_Link=                        "css/variation.min.css"
Light_Color=                       "#2f2f2f"  
