//- ####################
//- Template Meta Data  
//- ####################

- var name=                              "Boilerplate"
- var version=                           "0.1.0"
- var maincss=                           "css/style.min.css"
- var color=                             "#0099ee"
- var ownbackground=                     "yes"
- var disabled_styles=                   "m-comment m-product"



//- ####################
//- Variations 
//- ####################

- var Reverse_Name=                      "Reverse"
- var Reverse_Link=                      "css/variation.min.css"
- var Reverse_Color=                     "#2f2f2f"  

- var Saturated_Name=                    "Saturated"
- var Saturated_Link=                    "css/variation.min.css"
- var Saturated_Color=                   "#2f2f2f"  

- var Light_Name=                        "Light"
- var Light_Link=                        "css/variation.min.css"
- var Light_Color=                       "#2f2f2f"  
