// ####################
// Header Layout Block
// ####################

.jtpl-header
  display: block

  &__navigation
    background-color: $black
    +rem( padding, 20px)
    boz-sizing: border-box

  &__navigation-inner
    color: $white
    +rem( width, 960px )
    +rem( margin, 0 auto)

  &__brand
    background-color: $white
    +rem( padding, 20px)
    boz-sizing: border-box

  &__logo
    +rem( width, 960px )
    +rem( margin, 0 auto)

  &__title
    +rem( width, 960px )
    +rem( margin, 0 auto)
