extends ../bower_components/template-lib/jadelib/layout.jade

block content 
  
  //- ####################
  //- Header Area 
  //- ####################
  
  header.jtpl-header
    
    //- Main Navigation
    nav.jtpl-header__navigation.navigation-colors
      div.jtpl-header__navigation-inner
        var(data-level='1') navigation
    
    //- Subnavigation 
    .subnavigation-colors.jtpl-header__navigation--sub
      div.jtpl-header__navigation-inner
        var(data-level='2:3') navigation
    
    //- Logo and Title 
    div.jtpl-header__brand
      
      //- Logo
      div.jtpl-header__logo
        var(max-height='200') logo
      
      //- Title
      div.jtpl-header__title  
        var title
  
  
  //- ####################
  //- Content Area
  //- ####################
  
  section.content-options.jtpl-content
    var content
  
  
  //- ####################
  //- Sidebar Area 
  //- ####################
  
  aside.sidebar-options.jtpl-sidebar
    var sidebar
      
      
  //- ####################
  //- Footer Area 
  //- ####################
  
  footer.footer-options.jtpl-footer
    div.jtpl-footer__inner
      var footer
      
