extends ../bower_components/template-lib/jadelib/layout.jade

block content 
  .layout-alignment.jtpl-website
    
    //- ####################
    //- Header Area 
    //- ####################
    
    header.jtpl-header
      
      //- Navigation 
      nav.jtpl-header__navigation.navigation-colors
        div.jtpl-header__navigation-inner
          var(data-level='1') navigation
      
      //- Logo and Title 
      div.jtpl-header__brand
        //- Logo
        div.jtpl-header__logo
          var(max-height='200') logo
        
        //- Title
        div.jtpl-header__title  
          var title
    
    
    //- ####################
    //- Content Area
    //- ####################
    
    section.content-options
      var content
    
    
    //- ####################
    //- Sidebar Area 
    //- ####################
    
    aside
      .subnavigation-colors
        div
          var(data-level='2:3') navigation

      section.sidebar-options
        var sidebar
        
        
    //- ####################
    //- Footer Area 
    //- ####################
    
    footer.footer-options
      var footer

        
