// ####################
// Import template-lib
// ####################

@import "../../bower_components/template-lib/sasslib/base"


// ####################
// Import config stuff
// ####################

@import "base/reset"
@import "base/variables"
@import "base/colors"
@import "base/buttons"


// ####################
// Headlines
// ####################

h1, h2, h3, h4
  font-family: inherit
  margin: 0

h1
  +font(xlarge)

h2
  +font(large)

h3
  +font(medium)


// ####################
// Image links
// ####################

a:link,
a:visited
  img
    border: 0


// ####################
// Website title
// ####################

.j-website-title-content
  +font(xlarge)
  text-align: center
  color: $black


// CSS class for the stylable content container
.content-options

// CSS class for the stylable sidebar container
.sidebar-options

// CSS class for the stylable footer container
.footer-options

// CSS class for layout alignment with align to center as default
.layout-alignment
  margin: 0 auto


// ####################
// Import layout stylings
// ####################

@import "layout/website"
@import "layout/header"
@import "layout/content"
@import "layout/footer"

// ####################
// Import module stylings
// ####################

@import "components/blog"
@import "components/comments"
@import "components/download"
@import "components/form"
@import "components/hr"
@import "components/newsletter"
@import "components/rss"
@import "components/product"
@import "components/navigation"


// ####################
// Import miscellaneous stuff
// ####################

@import "partials/password-page"
@import "partials/shop-checkout"
@import "partials/shopping-cart"
@import "partials/add-to-cart-response-overlay"
