// ####################
// Font Map
//
// font size calculation. This uses REM units and PX as fallback.
// Adjust the font sizes and line-heights in the variables, rest is magic.
//
// Notice: Intended Sass doesn't support multiple lines, so this file has to be
// in scss.
// ####################

$font: (
  tiny: (
    font-size: 10px,
    line-height: 1.5
  ),

  small: (
    font-size: 13px,
    line-height: 1.5
  ),

  base: (
    font-size: 16px,
    line-height: 1.5
  ),

  medium: (
    font-size: 24px,
    line-height: 1.25
  ),

  large: (
    font-size: 32px,
    line-height: 1.25
  ),

  xlarge: (
    font-size: 48px,
    line-height: 1.05
  )
);
